# dependencies
node_modules/

# build
dist/
dist-ssr/

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# firebase
.firebase/
firebase-debug.log

# env
.env
.env.local
